:root {
    --background: oklch(0.96 0.03 106.92);
    --foreground: oklch(0.4 0.07 90.8);
    --card: oklch(0.98 0.04 97.73);
    --card-foreground: oklch(0.32 0 0);
    --popover: oklch(0.98 0.04 97.73);
    --popover-foreground: oklch(0.32 0 0);
    --primary: oklch(0.77 0.14 91.27);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.67 0.13 61.58);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.93 0.03 106.94);
    --muted-foreground: oklch(0.32 0 0);
    --accent: oklch(0.89 0.18 95.47);
    --accent-foreground: oklch(0.32 0 0);
    --destructive: oklch(0.69 0.2 32.29);
    --border: oklch(0.83 0.11 93.01);
    --input: oklch(0.65 0.13 81.66);
    --ring: oklch(0.75 0.15 84.05);
    --radius: 0.625rem;
}

.dark {
    --background: oklch(0.32 0 0);
    --foreground: oklch(0.96 0.03 106.92);
    --card: oklch(0.41 0 0);
    --card-foreground: oklch(0.96 0.03 106.92);
    --popover: oklch(0.41 0 0);
    --popover-foreground: oklch(0.96 0.03 106.92);
    --primary: oklch(0.84 0.17 83.07);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.47 0.11 50.64);
    --secondary-foreground: oklch(0.96 0.03 106.92);
    --muted: oklch(0.44 0 0);
    --muted-foreground: oklch(0.96 0.03 106.92);
    --accent: oklch(0.66 0.14 79.74);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.66 0.23 35.22);
    --border: oklch(0.47 0.11 50.64);
    --input: oklch(0.47 0.11 50.64);
    --ring: oklch(0.65 0.13 81.66);
}
