:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.14 0 285.86);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.14 0 285.86);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.14 0 285.86);
    --primary: oklch(0.62 0.21 259.23);
    --primary-foreground: oklch(0.97 0.01 254.61);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.21 0.01 285.93);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.55 0.02 285.93);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.21 0.01 285.93);
    --destructive: oklch(0.58 0.24 28.48);
    --border: oklch(0.92 0 286.61);
    --input: oklch(0.92 0 286.61);
    --ring: oklch(0.62 0.21 259.23);
    --radius: 0.65rem;
}

.dark {
    --background: oklch(0.14 0 285.86);
    --foreground: oklch(0.99 0 0);
    --card: oklch(0.21 0.01 285.93);
    --card-foreground: oklch(0.99 0 0);
    --popover: oklch(0.21 0.01 285.93);
    --popover-foreground: oklch(0.99 0 0);
    --primary: oklch(0.55 0.25 262.87);
    --primary-foreground: oklch(0.38 0.15 265.47);
    --secondary: oklch(0.27 0.01 286.1);
    --secondary-foreground: oklch(0.99 0 0);
    --muted: oklch(0.27 0.01 286.1);
    --muted-foreground: oklch(0.71 0.01 286.09);
    --accent: oklch(0.27 0.01 286.1);
    --accent-foreground: oklch(0.99 0 0);
    --destructive: oklch(0.7 0.19 22.23);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.49 0.24 264.4);
}
